.container{
    display: flex;
    justify-content: center;
   }
.left_content{
 border: 1px solid black;
 width: 200px;
 height: auto;
margin-left: 0px;
 border-radius: 2px ;
 box-shadow: 5px 5px 3px 2px grey;
 text-align: center;
}
.left_content h1{
    text-align: center;
    font-size: small;

}
  .left_content input{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
   
  }
  .left_content button{
    margin-top: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 2px grey;

  }
  #error{
  margin-top: 10px;
  }
  

  .right_content {
 margin-left: 50px;
    /* border: 1px solid black; */
    width: 200px;
    height: auto;
    border-radius: 2px ;
    box-shadow: 5px 5px 3px 2px grey;
    text-align: center;
  }
  .right_content input{
    margin-top: 5px;
    padding: 10px;
  }
  .right_content h1{
    text-align: center;
    font-size: small;

}
.right_content button{
  margin-top: 50px;
  color: white;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 2px grey'
}
.All_cont{
display: flex;
justify-content: space-evenly;
border: 2px solid black;
margin-top: 40px;
}

#main_content{
 
border: 2px solid black;
background-color: red;
margin-top: 40px;
}
#main_content li{
display: flex;
justify-content: space-evenly;
  padding-top: 10px;
flex-direction: row;
  align-items: center;}

  i{
  /* padding-top: 20px; */
  text-align: center;}
/* #edit i{

  /* padding-top: 20px; }*/

li{
  list-style: none;
  color: white;
}

